USE [JurassicPark]
GO
/****** Object:  View [dbo].[View_Besucher_Übersicht]    Script Date: 15.06.2023 09:14:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Besucher_Übersicht]
AS
SELECT        TOP (100) PERCENT dbo.Person.Vorname AS BeVN, dbo.Person.Nachname AS BeNN, dbo.Person.Telefonnummer, dbo.Adresse.Adresse, dbo.ZeitPos.Koordinaten, dbo.Spezies.Spezies AS LieblingsDino
FROM            dbo.Besucher INNER JOIN
                         dbo.Person ON dbo.Besucher.PersonID = dbo.Person.PersonID INNER JOIN
                         dbo.Adresse ON dbo.Person.AdresseID = dbo.Adresse.AdresseID INNER JOIN
                         dbo.GPS ON dbo.Person.GPSID = dbo.GPS.GPSID INNER JOIN
                         dbo.ZeitPos ON dbo.GPS.GPSID = dbo.ZeitPos.GPSID INNER JOIN
                         dbo.Spezies ON dbo.Besucher.LieblingsSpeciesID = dbo.Spezies.[Spezies ID]
ORDER BY BeVN, BeNN
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Besucher"
            Begin Extent = 
               Top = 17
               Left = 37
               Bottom = 196
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Person"
            Begin Extent = 
               Top = 20
               Left = 443
               Bottom = 188
               Right = 617
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Adresse"
            Begin Extent = 
               Top = 10
               Left = 756
               Bottom = 128
               Right = 923
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "GPS"
            Begin Extent = 
               Top = 151
               Left = 691
               Bottom = 247
               Right = 858
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ZeitPos"
            Begin Extent = 
               Top = 190
               Left = 1048
               Bottom = 330
               Right = 1215
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Spezies"
            Begin Extent = 
               Top = 171
               Left = 255
               Bottom = 301
               Right = 431
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Besucher_Übersicht'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Besucher_Übersicht'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Besucher_Übersicht'
GO
